<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
.userLesson1{
	display: inline-block;
	padding: 1rem 0;
	font-size: 2em;
	text-align: center;
	border: solid orange;
	background-color : white;
	width: 200px;
	height : 250px;
	position: relative;
	font-size: 15px;
	color: black;
}
.userLesson2{
	display: inline-block;
	padding: 1rem 0;
	font-size: 2em;
	text-align: center;
	border: solid orange;
	background-color : white;
	width: 200px;
	height : 250px;
	position: relative;
	font-size: 15px;
	color: black;
}
.userLesson3{
	display: inline-block;
	padding: 1rem 0;
	font-size: 2em;
	text-align: center;
	border: solid orange;
	background-color : white;
	width: 200px;
	height : 250px;
	position: relative;
	font-size: 15px;
	color: black;


<div class="myPageT">.</div>
	 		<div class="myLessonInfo">나의 레슨 수강 보기 <input type="button" class="myLessonInfoB" value="나의 레슨 모두 보기" onclick="myLessonInfo_P"><br>
	 		<span class="userLesson1">레슨<h2>수영교습</h2><br><img src="" style="width: 100px; height: 80px;"><br>강사 : 하둘리<br>수강 시간 : 2024-02-29</span>
	 		<span class="userLesson2">레슨<h2>스키기초</h2><br><img src="" style="width: 100px; height: 80px;"><br>강사 : 김청운<br>수강 시간 : 2024-02-27</span>
	 		<span class="userLesson3">레슨<h2>집밥기초</h2><br><img src="" style="width: 100px; height: 80px;"><br>강사 : 송중혁<br>수강 시간 : 2024-02-25</span>
	 		</div>
</body>
</html>