<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.adminQnaMapper">

	<select id="getQnaList" resultType="com.itwillbs.domain.AdminQnaDTO">
		select QNA_NUM as "num", MEM_ID as "id", QNA_SUBJECT as "subject", QNA_QUESTION as "question", QNA_ANSWER as "answer", QNA_UPDATE as "update" from QNA
    	
		order by QNA_NUM desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getQnaCount" resultType="java.lang.Integer">
		select count(*) from QNA
	</select>
	
	<select id="getQna" resultType="com.itwillbs.domain.AdminQnaDTO">
    	select a.QNA_NUM as num, a.MEM_ID as id, a.QNA_SUBJECT as subject, a.QNA_QUESTION as question, a.QNA_UPDATE as `update`,
    		   b.QNA_SUBJECT as subject, b.QNA_ANSWER as answer
    	from QNA a
    	left join QNA b on a.QNA_NUM = b.QNA_NUM
    	where a.QNA_NUM = #{num}
	</select>
	
<!-- 	<select id="qnaAnswer" resultType=""> -->

<!-- 	</select> -->
	

</mapper>