<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.adminNoticeMapper">

	<insert id="noticeInsert">
		insert into NOTICE(NOTICE_NUM, ADMIN_ID, NOTICE_TYPE, NOTICE_SUBJECT, NOTICE_CONTENT, NOTICE_DATE, NOTICE_READCOUNT, NOTICE_IMAGE)
		values (#{num}, #{id}, #{type}, #{subject}, #{content}, #{date}, #{readcount}, #{image})
	</insert>
	
	<select id="getNoticeList" resultType="com.itwillbs.domain.AdminNoticeDTO">
		select NOTICE_NUM as "num", ADMIN_ID as "id", NOTICE_TYPE as "type", NOTICE_SUBJECT as "subject", NOTICE_CONTENT as "content", NOTICE_DATE as "date", NOTICE_READCOUNT as "readcount", NOTICE_IMAGE as "image" from NOTICE
		
		<if test="search != null">
        where NOTICE_SUBJECT like CONCAT('%', #{search}, '%')
         or NOTICE_CONTENT like CONCAT('%', #{search}, '%')
    	</if>
    	
		order by NOTICE_NUM desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getNoticeCount" resultType="java.lang.Integer">
		select count(*) from NOTICE
		<if test="search != null">
			where NOTICE_SUBJECT like CONCAT('%',#{search},'%')
			or NOTICE_CONTENT like CONCAT('%', #{search}, '%')
		</if>
	</select>
	
	<select id="getNotice" resultType="com.itwillbs.domain.AdminNoticeDTO">
		select NOTICE_NUM as "num", ADMIN_ID as "id", NOTICE_TYPE as "type", NOTICE_SUBJECT as "subject", NOTICE_CONTENT as "content", NOTICE_DATE as "date", NOTICE_READCOUNT as "readcount", NOTICE_IMAGE as "image" from NOTICE
		where NOTICE_NUM = #{num}
	</select>
	
	<update id="noticeUpdate">
		update NOTICE
		set NOTICE_SUBJECT = #{subject}, NOTICE_CONTENT = #{content}, NOTICE_TYPE = #{type}
		where NOTICE_NUM = #{num}
	</update>
	
	<delete id="noticeDelete">
		delete from NOTICE
		where NOTICE_NUM = #{num}
	</delete>

</mapper>