<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.adminQnaMapper">

	<select id="getQnaList" resultType="com.itwillbs.domain.AdminQnaDTO">
		select QNA_NUM as "num", MEM_ID as "id", QNA_SUBJECT as "subject", QNA_QUESTION as "question", QNA_ANSWER as "answer", QNA_UPDATE as "update" from QNA
		
		<if test="search != null">
        where QNA_SUBJECT like CONCAT('%', #{search}, '%')
         or QNA_QUESTION like CONCAT('%', #{search}, '%')
         or QNA_ANSWER like CONCAT('%', #{search}, '%')
    	</if>
    	
		order by QNA_NUM desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getQnaCount" resultType="java.lang.Integer">
		select count(*) from QNA
		<if test="search != null">
		where QNA_SUBJECT like CONCAT('%', #{search}, '%')
         or QNA_QUESTION like CONCAT('%', #{search}, '%')
         or QNA_ANSWER like CONCAT('%', #{search}, '%')
		</if>
	</select>
	
	<select id="getQna" resultType="com.itwillbs.domain.AdminQnaDTO">
		select QNA_NUM as "num", MEM_ID as "id", QNA_SUBJECT as "subject", QNA_QUESTION as "question", QNA_ANSWER as "answer", QNA_UPDATE as "update" from QNA
		where QNA_NUM = #{num}
	</select>
	

</mapper>