<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.boardMapper">
	
	<select id="getNoticeList" resultType="com.itwillbs.domain.BoardDTO">
		select NOTICE_NUM as "num", ADMIN_ID as "id", NOTICE_TYPE as "type", NOTICE_SUBJECT as "subject", NOTICE_CONTENT as "content", NOTICE_DATE as "date", NOTICE_READCOUNT as "readcount", NOTICE_IMAGE as "image" from NOTICE
		
		<if test="search != null">
        where NOTICE_SUBJECT like CONCAT('%', #{search}, '%')
    	</if>
<!-- 		NOTICE_TYPE = #{type} -->
		order by NOTICE_NUM desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getNoticeCount" resultType="java.lang.Integer">
		select count(*) from NOTICE
		<if test="search != null">
			where NOTICE_SUBJECT like CONCAT('%',#{search},'%')
		</if>
	</select>
	
	<select id="getNotice" resultType="com.itwillbs.domain.BoardDTO">
		select NOTICE_NUM as "num", ADMIN_ID as "id", NOTICE_TYPE as "type", NOTICE_SUBJECT as "subject", NOTICE_CONTENT as "content", NOTICE_DATE as "date", NOTICE_READCOUNT as "readcount", NOTICE_IMAGE as "image" from NOTICE
		where NOTICE_NUM = #{num}
	</select>
	
	<update id="updateNoticeReadcount">
		update NOTICE
		set NOTICE_READCOUNT = NOTICE_READCOUNT + 1
		where NOTICE_NUM = #{num}
	</update>
	
	<select id="getFaqList" resultType="com.itwillbs.domain.BoardDTO">
		select FAQ_NUM as "num", ADMIN_ID as "id", FAQ_SUBJECT as "subject", FAQ_CONTENT as "content" from FAQ
		
		<if test="search != null">
       		where FAQ_SUBJECT like CONCAT('%', #{search}, '%')
    	</if>
		order by FAQ_NUM desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getFaqCount" resultType="java.lang.Integer">
		select count(*) from FAQ
		<if test="search != null">
       		where FAQ_SUBJECT like CONCAT('%', #{search}, '%')
    	</if>
	</select>
	
	<select id="getFaq" resultType="com.itwillbs.domain.BoardDTO">
		select FAQ_NUM as "num", ADMIN_ID as "id", FAQ_SUBJECT as "subject", FAQ_CONTENT as "content" from FAQ
		where FAQ_NUM = #{num}
	</select>
	    
    <insert id="addWish">
    	insert into WISH(MEM_ID, LES_NUM) 
		values(#{id}, #{num})
    </insert>
    
    <delete id="removeWish">
    	delete from WISH
		WHERE MEM_ID = #{id} AND LES_NUM = #{num}
    </delete>
    
	<insert id="insertQna">
    	insert into QNA(MEM_ID, QNA_SUBJECT, QNA_QUESTION, QNA_UPDATE)
		values(#{name}, #{subject}, #{content}, #{update})
    </insert>
    
    <update id="updateQna">
		update QNA
		set QNA_ANSWER= #{content}
		where QNA_NUM = #{num}
	</update>
	
	<select id="getQ" resultType="com.itwillbs.domain.BoardDTO">
		select QNA_QUESTION as "content", QNA_SUBJECT as "subject", QNA_NUM as "num"
		from QNA
		WHERE QNA_NUM = #{num}
	</select>
	
	<select id="getQnaList" resultType="com.itwillbs.domain.BoardDTO">
		select QNA_SUBJECT as "subject", QNA_QUESTION as "question", QNA_ANSWER as "answer", QNA_NUM as "num", QNA_UPDATE as "update"
		from QNA
		WHERE MEM_ID = #{id}
		order by QNA_NUM desc
		limit #{startRow}, #{pageSize}
	</select>
    
    <select id="getQnaCount" resultType="java.lang.Integer">
		select count(*)
		from QNA
		WHERE MEM_ID = #{id}
	</select>
	
	<select id="getQna" resultType="com.itwillbs.domain.BoardDTO">
		select QNA_QUESTION as "question", QNA_ANSWER as "answer", QNA_SUBJECT as "subject", QNA_NUM as "num", MEM_ID as "id"
		from QNA
		WHERE QNA_NUM = #{num}
	</select>
    
    <insert id="insertLqna">
    	insert into LESSON_QNA(MEM_ID, LES_NUM, LQNA_SUBJECT, LQNA_QUESTION, LQNA_UPDATE)
		values(#{name}, #{num}, #{subject}, #{question}, #{update})
    </insert>
    
    <select id="getLqnaList" resultType="com.itwillbs.domain.BoardDTO">
		select q.LQNA_QUESTION as "question", q.LQNA_ANSWER as "answer", q.LQNA_SUBJECT as "subject", q.LQNA_NUM as "num", q.LQNA_UPDATE as "update", l.LES_SUBJECT as "image"
		from LESSON_QNA q join LESSON l
		ON q.LES_NUM = l.LES_NUM
		where q.MEM_ID = #{id}
		order by LQNA_NUM desc
		limit #{startRow}, #{pageSize}
	</select>
    
	<select id="getLqnaCount" resultType="java.lang.Integer">
		select count(*)
		from QNA
		WHERE MEM_ID = #{id}
	</select>
	
	<select id="getLqna" resultType="com.itwillbs.domain.BoardDTO">
		select LQNA_QUESTION as "question", LQNA_ANSWER as "answer", LQNA_SUBJECT as "subject", LQNA_NUM as "num"
		from LESSON_QNA
		WHERE LQNA_NUM = #{num}
	</select>
	
	<update id="updateLqna">
		update LESSON_QNA
		set LQNA_ANSWER= #{answer}
		where LQNA_NUM = #{num}
	</update>
	
    <insert id="insertReview">
    	insert into REVIEW(MEM_ID, LES_NUM, REVIEW_CONTENT, REVIEW_UPDATE, REVIEW_IMAGE, REVIEW_RATING)
		values(#{id}, #{num}, #{content}, #{update}, #{preview}, #{rating})
    </insert>
    
	<select id="getMyReviewList" resultType="com.itwillbs.domain.BoardDTO">
		select l.LES_SUBJECT as "subject", r.REVIEW_NUM as "num", r.REVIEW_CONTENT as "content", r.REVIEW_UPDATE as "update", r.REVIEW_RATING as "rating"
		from REVIEW r join LESSON l
		on l.LES_NUM = r.LES_NUM
		WHERE r.MEM_ID = #{id}
		order by REVIEW_NUM desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getMyReviewCount" resultType="java.lang.Integer">
		select count(*)
		from REVIEW
		WHERE MEM_ID = #{id}
	</select>
	
	<select id="getWishList" resultType="com.itwillbs.domain.LessonDTO">
    	SELECT LES_NUM as "num", LES_SUBJECT as "subject", LES_PREVIEW as "preview", LES_CATEGORY as "category", LES_SUBCATEGORY as "subCategory", LES_PRICE as "price", LES_LOCATION as "location", LES_DATE as "date"
		from LESSON
		where LES_NUM IN (SELECT LES_NUM
							from WISH
							WHERE MEM_ID = #{id})
    	order by LES_NUM desc
    	limit #{startRow}, #{pageSize}
    </select>
    
	<select id="getWishCount" resultType="java.lang.Integer">
    	select count(*)
    	from WISH
    	where MEM_ID = #{id}
    </select>
    
	<select id="getMyreceiveReviewList" resultType="com.itwillbs.domain.BoardDTO">
		SELECT l.LES_SUBJECT as "subject", r.REVIEW_NUM as "num", r.REVIEW_CONTENT as "content", r.REVIEW_UPDATE as "update", r.REVIEW_RATING as "rating"
		FROM REVIEW r JOIN LESSON l
		on l.LES_NUM = r.LES_NUM
		WHERE r.LES_NUM in (select LES_NUM
							FROM LESSON
							WHERE MEM_ID = #{id})
		order by REVIEW_NUM desc
		limit #{startRow}, #{pageSize}
	</select>
	
    <select id="getMyreceiveReviewCount" resultType="java.lang.Integer">
		select count(*)
		from REVIEW
		where LES_NUM IN (SELECT LES_NUM
						FROM LESSON
						WHERE MEM_ID = #{id})
	</select>	
	
	<select id="getreceiveLqnaList" resultType="com.itwillbs.domain.BoardDTO">
		select q.LQNA_QUESTION as "question", q.LQNA_ANSWER as "answer", q.LQNA_SUBJECT as "subject", q.LQNA_NUM as "num", q.LQNA_UPDATE as "update", l.LES_SUBJECT as "image"
		from LESSON_QNA q join LESSON l
		on q.LES_NUM = l.LES_NUM
		where q.LES_NUM IN (SELECT LES_NUM
							FROM LESSON
							WHERE MEM_ID = #{id})
		order by LQNA_NUM desc
		limit #{startRow}, #{pageSize}
	</select>
	
    <select id="getreceiveLqnaCount" resultType="java.lang.Integer">
		select count(*)
		from LESSON_QNA
		where LES_NUM IN (SELECT LES_NUM
						FROM LESSON
						WHERE MEM_ID = #{id})
	</select>
	
	<select id="getLessonReview" resultType="com.itwillbs.domain.BoardDTO">
		select REVIEW_NUM as "num", REVIEW_CONTENT as "content", REVIEW_UPDATE as "update", REVIEW_RATING as "rating", REVIEW_IMAGE as "image"
		from REVIEW
		where LES_NUM = #{type}
		order by REVIEW_NUM desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getLessonReviewCount" resultType="java.lang.Integer">
		select count(*)
		from REVIEW
		where LES_NUM IN (SELECT LES_NUM
						FROM LESSON
						WHERE MEM_ID = #{id})
	</select>
	
	<select id="ReviewCheck" resultType="com.itwillbs.domain.BoardDTO">
		select REVIEW_NUM as "num"
		from REVIEW
		where LES_NUM = #{num} and MEM_ID = #{id}
	</select>
	
<!-- 	찜하기 로직용 -->
	<select id="getwishList" resultType="java.lang.Integer">
		select LES_NUM as "num"
		from WISH
		where MEM_ID = #{id}
	</select>
	
	<delete id="deleteWish">
		delete
		from WISH
		WHERE LES_NUM = #{num}
	</delete>
	
</mapper>