<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.lessonMapper">
    <insert id="insertLesson">
		insert into LESSON(LES_SUBJECT, LES_CONTENT, LES_PREVIEW, LES_UPDATE, LES_DATE, LES_PRICE, LES_CATEGORY, LES_SUBCATEGORY, LES_LOCATION, MEM_ID) 
		values(#{subject}, #{content}, #{preview}, #{update}, #{date}, #{price}, #{category}, #{subCategory}, #{location}, #{id})
    </insert>
    
    <select id="getLessonList" resultType="com.itwillbs.domain.LessonDTO">
    	select LES_SUBJECT as "subject", LES_UPDATE as "update", LES_NUM as "num", LES_STATUS as "status", LES_PREVIEW as "preview", LES_PRICE as "price",LES_SUBCATEGORY as "subCategory" , LES_DATE as "date" , MEM_ID as "id"
    	from LESSON
    	where LES_STATUS = 0
    	order by LES_NUM desc
    	limit #{startRow}, #{pageSize}
    </select>
    
    <select id="getLessonCount" resultType="java.lang.Integer">
    	select count(*)
    	from LESSON
    	where LES_STATUS = 0
    </select>
    
    <select id="getlessonSearch" resultType="com.itwillbs.domain.LessonDTO">
    	select LES_SUBJECT as "subject", LES_UPDATE as "update", LES_NUM as "num", LES_STATUS as "status", LES_PREVIEW as "preview", LES_PRICE as "price"
    	from LESSON
    	where LES_SUBJECT like CONCAT('%',#{search},'%')
    	and   LES_STATUS = 0
    	order by LES_NUM desc
    	limit #{startRow}, #{pageSize}
    </select>
    
    
	<select id="getcategorySearch" resultType="com.itwillbs.domain.LessonDTO">
    	select LES_SUBJECT as "subject", LES_UPDATE as "update", LES_NUM as "num", LES_STATUS as "status", LES_PREVIEW as "preview", LES_PRICE as "price"
    	from LESSON
    	where LES_CATEGORY = #{search}
    	and   LES_STATUS = 0
    	order by LES_NUM desc
    	limit #{startRow}, #{pageSize}
    </select>
    
	<select id="getLesson" resultType="com.itwillbs.domain.LessonDTO">
		select LES_NUM as "num", LES_SUBJECT as "subject", LES_CONTENT as "content", LES_CATEGORY as "category", LES_SUBCATEGORY as "subCategory", LES_UPDATE as "update", LES_DATE as "date", LES_LOCATION as "location", LES_PRICE as "price", LES_PREVIEW as "preview", MEM_ID as "id" 
		from LESSON
		where LES_NUM = #{num}
	</select>
	
	<insert id="insertOrders">
		insert into ORDERS(ORDER_METHOD, ORDER_DATE, LES_NUM, MEM_ID) 
		values(#{method}, #{update}, #{num}, #{id})
	</insert>
   
	<select id="getMyLessonList" resultType="com.itwillbs.domain.LessonDTO">
    	SELECT LES_SUBJECT as "subject", LES_PREVIEW as "preview", LES_NUM as "num"
		from LESSON
		where LES_NUM IN (SELECT LES_NUM
							from ORDERS
							WHERE MEM_ID = #{id}
							group by LES_NUM)
    	order by LES_NUM desc
    	limit #{startRow}, #{pageSize}
    </select>
   
	<select id="getMyLessonCount" resultType="java.lang.Integer">
    	select count(*)
    	from ORDERS
    	where MEM_ID = #{id}
    </select>
   
	<select id="getWishList" resultType="com.itwillbs.domain.LessonDTO">
    	SELECT LES_SUBJECT as "subject", LES_PREVIEW as "preview", LES_CATEGORY as "category", LES_SUBCATEGORY as "subCategory", LES_PRICE as "price", LES_LOCATION as "location"
		from LESSON
		where LES_NUM IN (SELECT LES_NUM
							from WISH
							WHERE MEM_ID = #{id})
    	order by LES_NUM desc
    	limit #{startRow}, #{pageSize}
    </select>
    
	<select id="getWishCount" resultType="java.lang.Integer">
    	select count(*)
    	from WISH
    	where MEM_ID = #{id}
    </select>
    
    <select id="getSubject" resultType="com.itwillbs.domain.LessonDTO">
		select LES_NUM as "num", LES_SUBJECT as "subject"
		from LESSON
		where MEM_ID in (select MEM_ID
						from LESSON
						WHERE LES_NUM = #{num});
    </select>
    
	<select id="getLessonListAll" resultType="com.itwillbs.domain.LessonDTO">
    	select LES_SUBJECT as "subject", LES_UPDATE as "update", LES_NUM as "num", LES_STATUS as "status", LES_PREVIEW as "preview", LES_PRICE as "price",LES_SUBCATEGORY as "subCategory" , LES_DATE as "date" , MEM_ID as "id"
    	from LESSON
    	order by LES_NUM desc
    	limit #{startRow}, #{pageSize}
    </select>
    
	<select id="getLSearchCount" resultType="java.lang.Integer">
    	select count(*)
    	from LESSON
    	where LES_SUBJECT like CONCAT('%',#{search},'%')
    </select>
    
</mapper>